#containerLixeira {
    border: 1px solid #ffffff;
}

#lixeira {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



#lixeira button:hover {
    background: radial-gradient(circle, rgb(189, 46, 26), rgb(161, 184, 29));
}

#lixeira input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#lixeira table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#lixeira th, #lixeira td {
    padding: 10px;
    
    text-align: left;
}

#selecionarTodos {
    margin-left: 10px;
}



#esvaziarLixeira{
    background: linear-gradient(45deg, rgb(10, 33, 25), rgb(218, 11, 51));
}



.nenhum-cliente-renovado {
    color: red;
}


#infoClientes {
    color: #008000;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background: #e6ffe6;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
}




#infoClientes.slide-in {
  animation: slide-in 0.5s forwards; /* Animação de slide-in */
}

@keyframes slide-in {
  from {
    transform: translateX(-100%); /* Começa fora da tela à esquerda */
    opacity: 0; /* Transparente */
  }
  to {
    transform: translateX(0); /* Move-se para a posição original */
    opacity: 1; /* Opacidade completa */
  }
}




.titulo-clientes-renovados {
            color: red; /* Escolha a cor que preferir */
            font-weight: bold;
            
        }
        .slide-in {
            animation: slideIn 0.5s forwards;
        }
        @keyframes slideIn {
            from {
                opacity: 0;
                transform: translateX(-100%);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }




#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: linear-gradient(45deg, #00FF00, #228B22); 
    color: white;
    border: 1px solid #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 1000;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backToTop::after {
    content: '';
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#backToTop:hover {
    background: linear-gradient(45deg, #228B22, #00FF00); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    opacity: 1;
}

#backToTop:active {
    transform: scale(0.95); /* Efeito de clique */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduz a sombra ao clicar */
}




.loading-coracao {
  display:block;
  position: relative;
  width: 30px;
  height: 30px;
  margin:auto;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  padding-left: 45px;
  padding-bottom: 45px;
}


.loading-coracao span {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fd0000;
  animation: loading-coracao 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}



.loading-coracao span:after,
.loading-coracao span:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fd0000;
}



.loading-coracao span:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}



.loading-coracao span:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}



@keyframes loading-coracao {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
    
         
         
         
.clientes-vencidos {
        color: red;
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
        background-color: #ffe6e6;
        border: 2px solid red;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        margin-bottom: 5px;
        padding-left: 110px;
    }



    .clientes-ativos {
        color: green;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        background-color: #e6ffe6;
        border: 2px solid green;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        margin-bottom: 5px;
        padding-left: 110px;
    }
      



.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Ajuste conforme necessário */
}



.drop {

    margin: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0em;
    text-shadow: -2px -2px 5px #fff;
    filter: drop-shadow(4px 4px 10px #fff);
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
                15px 25px 10px rgba(0,0,0,0.05),
                15px 20px 20px rgba(0,0,0,0.05),
                inset -10px -10px 15px rgba(255,255,255,0.9);
}


      
        footer {
        text-align: center;
        padding: 1px 0;
        background-color: #000000;
        color: #ecf0f1;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 18px;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.7);
        background-image: linear-gradient(45deg, #008a18, #00ee4e);
        animation: pulse 2s infinite;
        z-index: 1000;
    }

    footer a {
        color: #000000;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    footer a:hover {
        text-decoration: underline;
        color: #fff242;
    }

    @keyframes pulse {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
    }

    .footer-light {
        background-image: linear-gradient(45deg, #00ee4e, #008a18); /* Fundo gradiente para modo claro */
        color: #333;
    }

    .footer-light a {
        color: #ffffff; /* Cor do link no modo claro */
    }

    .footer-light a:hover {
        color: #00f518; /* Cor do link no modo claro ao passar o mouse */
    }
        

        h1, button {
            opacity: 0;
            animation: slideIn 0.5s ease forwards;
        }

        .table-container {
            opacity: 0;
            animation: slideIn 0.5s ease forwards 0.5s;
        }

        @keyframes slideIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        
        
        @keyframes desintegrate {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100px);
    }
}

.desintegrate {
    animation: desintegrate 0.6s forwards;
}
        
        
        
        
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 20px;
        }
        
        .negado {
            text-aline: center;
            
        }
        
        .corpo {
            backgrouns-color: #000000;
        }
        
        .logo {
            display: block;
            /* Centraliza e adiciona margem inferior */
            margin: 0 auto 10px; 
            /* Limita a largura da logomarca */
            max-width: 300px; 
        }
        

        
       
       h1 {
            color: #4CAF50;
            text-align: center;
        }
       
       
  
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 12px;
            text-align: center;
        }
        th {
            background-color: #d6ffe8;
            color: #333;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #a3ffcc;
        }



        .orange {
            background-color: orange;
            color: white;
            position: relative;
            overflow: hidden;
        }

        .orange::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 200%;
            height: 200%;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0) 70%);
            transform: translateX(-50%) translateY(-100%);
            animation: shine 2s infinite;
            pointer-events: none;
        }

        @keyframes shine {
            0% {
                transform: translateX(-50%) translateY(-100%);
            }
            50% {
                transform: translateX(-50%) translateY(100%);
            }
            100% {
                transform: translateX(-50%) translateY(-100%);
            }
        }



        .yellow {
            background-color: yellow;
            color: black;
        }



        .red {
            background-color: red;
            color: white;
        }



        .input-container {
        margin-bottom: 15px;
        text-align: center;
    }

    .input-container input, .input-container label {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .input-container input {
        margin-top: 5px;
        border-color: #01e02d;
    }
    
    .button {
        background-color: #00BFFF;
        color: #ffffff;
    }
    
    .meio {
    background: linear-gradient(to right, #A9A9A9 50%, #000000 50%);
    color: #ffffff;
    width: 157px;
  
}

.meio:hover {
    background: linear-gradient(to right, #A9A9A9 50%, #000000 50%);
    color: #ffffff;
    width: 157px;
  
}
   
   
    #btnExcluirSelecionados {
    background: linear-gradient(45deg, #ff1a1a, #ff6666);
    color: #ffffff;
    cursor: pointer;
}

    #btnExcluirSelecionados:hover {
    background: linear-gradient(45deg, #ff6666, #ff1a1a);
    color: #ffffff;
   
}
#backup {
       background: linear-gradient(45deg, #1e90ff, #00bfff);
       color: #ffffff;
    
}

#backup:hover {
       background: linear-gradient(45deg, #00bfff, #1e90ff);
       color: #ffffff;
    
}

   
   
        button {
            background: linear-gradient(45deg, #00ee4e, #008a18);
            color: #ffffff;
            border-color:#ffffff;
            padding: 10px 20px;
            margin: 5px;
            cursor: pointer;
            font-size: 1em;
            border-radius: 10px;
            transition: background-color 0.3s;
        }
        
        
        
        button:hover {
            background: #000000;
            transform: scale(1.1);
        }
        
        
        .table-container {
            overflow-x: auto;
            max-width: 100%;
        }

         /* Estilos para o modo escuro */
        
        body.dark-mode {
            background-color: #000000;
            color: #e0e0e0;
        }
        body.dark-mode h1 {
            color: #2fa804;
        }
        body.dark-mode th {
            background-color: #e0ffe4;
            color: #000000;
        }
        body.dark-mode tr:nth-child(even) {
            background-color: #737373;
        }
        body.dark-mode tr:hover {
            background-color: #00992a;
            color: black;
        }
        body.dark-mode button {
            background-color: #2fa804;
            color: #ffffff;
        }
        body.dark-mode button:hover {
            background-color: #000000;
            color: #ffffff;
        }
        
        /* Estilos para dispositivos com largura de tela até 414px (Galaxy S23) */
        
@media only screen and (max-width: 414px) {
    body {
        margin: 10px; /* Reduzir a margem */
    }
    .input-container input {
        width: calc(100% - 16px); /* Largura total menos a margem do lado */
    }
    table, th, td {
        font-size: 0.8em; /* Reduzir o tamanho da fonte da tabela */
    }
}