/* Estilos CSS */
        
        footer {
    text-align: center; /* Centraliza o texto no footer */
    padding: 1px 0; /* Espaçamento interno para cima e para baixo */
    background-color: #000000; /* Cor de fundo escura para destacar o footer */
    color: #ecf0f1; /* Cor do texto clara para contraste */
    position: fixed; /* Fixa o footer na parte inferior da página */
    width: 100%; /* Largura total do footer */
    bottom: 0; /* Alinha o footer na parte inferior da página */
    font-size: 16px; /* Tamanho da fonte um pouco maior para melhor legibilidade */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3); /* Adiciona uma sombra para dar profundidade */
}

footer a {
    color: #1abc9c; /* Cor do link que se destaca no fundo escuro */
    text-decoration: none; /* Remove a sublinha padrão dos links */
    font-weight: bold; /* Adiciona negrito aos links para destaque */
}

footer a:hover {
    text-decoration: underline; /* Adiciona sublinha ao passar o mouse para indicar interatividade */
    color: #16a085; /* Muda a cor ao passar o mouse para melhor feedback visual */
}
        
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 20px;
        }
        h1, button {
            opacity: 0;
            animation: slideIn 0.5s ease forwards;
        }

        .table-container {
            opacity: 0;
            animation: slideIn 0.5s ease forwards 0.5s;
        }

        @keyframes slideIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        /* Estilos CSS */
        
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 20px;
        }
        h1 {
            color: #4CAF50;
        }
        
        .logo {
            display: block;
            /* Centraliza e adiciona margem inferior */
            margin: 0 auto 10px; 
            /* Limita a largura da logomarca */
            max-width: 300px; 
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 12px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
            color: #333;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #f1f1f1;
        }
        .orange {
            background-color: orange;
            color: white;
        }
        .yellow {
            background-color: yellow;
            color: black;
        }
        .red {
            background-color: red;
            color: white;
        }
        .input-container {
            margin-bottom: 10px;
            text-align: center;
        }
        .input-container input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border-color: #01e02d;
            border-radius: 5px;
        }
        
        button {
            background-color: #4CAF50;
            color: white;
            border-color:#ffffff;
            padding: 10px 20px;
            margin: 5px;
            cursor: pointer;
            font-size: 1em;
            border-radius: 10px;
            transition: background-color 0.3s;
        }
        button:hover {
            background-color: #45a049;
            transform: scale(1.1);
        }
        .table-container {
            overflow-x: auto;
            max-width: 100%;
        }

        /* Estilos para o modo escuro */
        
        body.dark-mode {
            background-color: #000000;
            color: #e0e0e0;
        }
        body.dark-mode h1 {
            color: #2fa804;
        }
        body.dark-mode th {
            background-color: #333;
            color: #e0e0e0;
        }
        body.dark-mode tr:nth-child(even) {
            background-color: #2c2c2c;
        }
        body.dark-mode tr:hover {
            background-color: #444;
        }
        body.dark-mode button {
            background-color: #2fa804;
            color: #ffffff;
        }
        body.dark-mode button:hover {
            background-color: #2fa804;
        }
        
        /* Estilos para dispositivos com largura de tela até 414px (Galaxy S23) */
        
@media only screen and (max-width: 414px) {
    body {
        margin: 10px; /* Reduzir a margem */
    }
    .input-container input {
        width: calc(100% - 16px); /* Largura total menos a margem do lado */
    }
    table, th, td {
        font-size: 0.8em; /* Reduzir o tamanho da fonte da tabela */
    }
}
